.bg {
    background-image: url(wp2.jpg);
    height: 300px; 
    width: cover;
    color: rgb(255, 255, 255);
    
}
p.one {
    border-style: solid;
    border-width: 5px;
    color: #252B48;
}
  
  p.two {
    border-style: solid;
    border-width: medium;
    color: #8C3333;
  }
  
  p.three {
    border-style: dotted;
    border-width: 2px;
    color: #E06469;
  }
  
  p.four {
    border-style: dotted;
    border-width: thick;
    color: #820000;
  }
  
  div {
    padding: 20px;
    border: 1px solid #530505;
  }
  div {
    height: 50px;
    width: 50%;
    border: 1px solid #4CAF50;
  }
  .p1 {
    font-family: "Times New Roman", Times, serif;
  }
  
  .p2 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
  }

  div.ex2 {
    max: width 1000px;
    margin: auto;
    border: 3px solid #ffffff;
  }
 
  .padding {    
    background-color: rgb(255, 0, 238);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px; 
  }
  
  .margin {
    border: 1px solid rgb(255, 255, 255);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: rgb(255, 136, 251);
  }

  .heightwidth {
    height: 50px;
    width: 100%;
    border: 1px solid #3cdcd9;
  }
  
  div.ex1 {
    width: 500px;
    margin: auto;
    border: 3px solid #69b104;
  }
  
  div.ex2 {
    max-width: 500px;
    margin: auto;
    border: 3px solid #cbff83;
  }

  img {
    float: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  } 
  
  li a {
    display: block;
    background-color: #dddddd;
  }

  .dropbtn {
    background-color: #08366b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #174b9a;
  }

  input[type=text],
   select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #151a7b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #151a7b;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .dropbtn {
    background-color: #151a7b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #151a7b;
  } 

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  