@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

nav {
    padding: 15px;
    display: flex; 
    align-items: center;
}

nav img {
    width: 38px;
    height: auto;
}

nav ul {
    margin-left: 50px;
    display: flex;
}

nav ul li {
    list-style-type: none;
}

nav:nth-child(1) ul li a {
    margin-right: 20px;
    color: #000;
    text-decoration: none;
    padding: 16px;
}

nav:nth-child(1) ul li a:hover, 
nav:nth-child(1) ul li button:hover {
    background-color: #04AA6D!important;
}

nav ul li .content a {
    display: block;
    padding: 15px;
    /* background-color: aliceblue; */
    margin: 1px;
    color: #fff;
}

nav ul li .content a:hover {
    background-color: #EEE0C9;
}

nav ul li .content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 130px;
    top: 55px;
    background-color: #282a35;
    color: #fff !important;
    /* right: 260px; */
}

nav ul li:nth-child(4) .content {
    width: 200px;
}

nav ul li:hover .content {
    display: block;
}

nav ul li a button {
    font-size: 16px;
    border: none;
    outline: none;
    color: #000;
    background-color: inherit;
    cursor: pointer;
}

/* nav 2 */

nav:nth-child(2){
    padding: 0;
    background-color: #282a35;
}

nav:nth-child(2) ul li{
    padding: 9px;
}

nav:nth-child(2) ul li button {
    padding: 0 9.5px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

nav:nth-child(2) ul li button img {
    width: 15px;
}

nav:nth-child(2) ul li button a {
    text-decoration: none;
    color: #fff;
}

nav:nth-child(2) ul li:hover {
    background-color: #000;
}

nav:nth-child(2) ul {
    margin-left: 0;
}

nav:nth-child(2) ul li:nth-child(1) {
    background-color: #04AA6D;
}

main {
    display: flex;
    height: 100%;
}

/* side bar */

main .side-bar {
    padding: 20px 0;
    width: 25%;
    background-color: #E7E9EB;
    height: 75vh;
}

main .side-bar h2 {
    padding: 0 20px;
    font-weight: 500;
}

main .side-bar p {
    /* width: 110%; */
    padding: 3px 20px;
}

main .side-bar p:hover {
    background-color: #A5A5A5;
}

main .side-bar p:active {
    background-color: #04AA6D;
    color: #fff!important;
}


main .side-bar a {
    text-decoration: none;
    color: #000;
}

/* content */

main .content {
    padding: 20px;
    padding-left: 40px;
    padding-bottom: 130px;
    overflow: auto;
}

/* global */

main .content hr {
    border-top: 1px solid #eee;
}

main .content h1 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 20px;
}

main .content ul li {
    margin-left: 50px;
    margin-bottom: 5px;
}

main .content ul {
    margin-bottom: 30px;
}

main .content img {
    margin-bottom: 20px;
}

main .content code {
    color: #dc143c;
    background-color: #E7E9EB;
}

/* global end */

main .content .satu h1 {
    font-size: 41px;
}

main .content .dua p {
    padding: 30px 0;
}

main .content .empat h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

main .content .empat .contoh-code {
    padding: 25px 20px;
    background-color: #E7E9EB;
    border-radius: 5px;
    margin-bottom: 20px;
}

main .content .empat .contoh-code h3 {
    font-size: 24px;
}

main .content .empat .contoh-code .code {
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #04AA6D;
    margin-bottom: 20px;
}

main .content .empat .contoh-code button {
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    background-color: #04AA6D;
    border: none;
    padding: 8px 20px;
}

main .content .empat .contoh-code button a {
    text-decoration: none;
    color: #fff;
}

main .content .lima .multiple-p p.tag {
    margin: 15px 7px;
}

main .content .enam p.ad {
    text-align: center;
    margin: 20px auto;
}

main .content .enam p:nth-child(1) code {
    color: #000;
    background-color: transparent;
}

main .content .enam p {
    margin-bottom: 10px;
}

main .content .tujuh p {
    margin-bottom: 20px;
}

main .content .btn {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

main .content .btn button {
    position: relative;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    background-color: #04AA6D;
    border: none;
    padding: 8px 20px;
}

main .content .btn button:nth-child(1) {
    padding-left: 35px;
}

main .content .btn .btn-dua {
    padding-right: 35px;
}

main .content .btn button a {
    text-decoration: none;
    color: #fff;
}

main .content .btn button:nth-child(1) a svg {
    position: absolute;
    top: 13px;
    left: 15px;
}

main .content .btn button:nth-child(2) a svg,
main .content .btn button:nth-child(3) a svg {
    position: absolute;
    top: 13px;
    right: 15px;
}


main .content .multiple-p p {
    padding-bottom: 8px;
}

main .content .multiple-p p.tag {
    font-size: 1.3em;
}

main .content .multiple-p p.tag code {
    color: brown;
    background-color: transparent;
}

main .content table {
    width: 100%;
    margin-top: 20px;
}

main .content table {
    border: 1px solid #ccc;
}

main .content table tr:nth-child(even) {
    background-color: #E7E9EB;
}

main .content table tr td, 
main .content table tr th {
    border-bottom: 1px solid #ddd;
    padding: 8px 15px;
    text-align: left;
}

main .content table tr td a {
    color: #000;
}

main .content p.note {
    background-color: #FFFFCC;
    margin: 20px -20px;
    margin-left: -40px;
    padding: 30px 40px;
}

main .content .btn button.btn-white {
    background-color: transparent;
    border: 1px solid #ccc;

}

main .content .btn button.btn-white a {
    color: #000;
    font-weight: 500;
}